/* mobile device */
@media screen and (max-width: 1120px) {
  .menu_toggler {
    display: block;
  }
  nav ul {
    display: none;
  }
}

/* large mobile device */

@media screen and (max-width: 992px) {
  .inner_banner {
    flex-direction: row-reverse;
    justify-content: center;
    row-gap: 20px;
  }
  .banner_details_area {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner_details_area h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    line-height: 38px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 75%;
  }
  .banner_details_area h2 {
    text-align: center;
    width: 75%;
    margin: auto;
  }
  .banner_img_area {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
  }
  .banner_img_area img {
    width: 60%;
  }
  .inner_value .value_box_container {
    flex-wrap: wrap;
  }
  .value_box_container .value_box {
    flex-basis: 100%;
  }
  .inner_counts {
    flex-wrap: wrap;
  }
  .inner_counts .counts_box {
    flex-basis: 48%;
  }
  .feature_wrapper {
    flex-wrap: wrap;
  }
  .feature_wrapper .feature_img {
    flex-basis: 100%;
  }
  .feature_wrapper .feature_details {
    flex-basis: 100%;
  }
  .inner_second_feature {
    flex-wrap: wrap;
  }
  .inner_second_feature .feature_details {
    flex-basis: 100%;
  }
  .inner_second_feature .img_area {
    flex-basis: 100%;
  }
  .inner_feature {
    flex-wrap: wrap;
  }
  .inner_feature .feature_content_img_area {
    flex-basis: 100%;
  }
  .inner_feature .feature_content_area {
    flex-basis: 100%;
  }
  #service .container .inner_service {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .inner_service .service_box {
    flex-basis: 46%;
  }

  .inner_pricing {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .inner_pricing .pricing_box {
    flex-basis: 48%;
  }
  #question .container .inner_question {
    flex-wrap: wrap;
  }
  #question .container .inner_question .left_side_content .content {
    margin-right: 0px;
  }
  #question .container .inner_question .left_side_content {
    flex-basis: 100%;
  }
  #question .container .inner_question .right_side_content {
    flex-basis: 100%;
  }
  #team .container .inner_container {
    flex-wrap: wrap;
  }
  #team .container .inner_container .team_box {
    flex-basis: 100%;
  }
  #blog .container .inner_blog {
    flex-wrap: wrap;
  }
  #blog .container .inner_blog .blog_box {
    flex-basis: 100%;
  }

  #contact .container .inner_contact {
    flex-wrap: wrap;
  }
  #contact .container .inner_contact .contact_details {
    flex-basis: 100%;
  }
  #contact .container .inner_contact .contact_form {
    flex-basis: 100%;
  }

  #footer1 .container .inner_footer1 {
    flex-wrap: wrap;
  }
  #footer1 .container .inner_footer1 .footer1_box_content {
    flex-basis: 100%;
  }
  #footer1 .container .inner_footer1 .footer1_box {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .about_details {
    flex-basis: 100%;
    padding: 40px;
  }
  .about_img {
    flex-basis: 100%;
  }
  .rede_more {
    text-align: center;
  }
  .rede_More .rede_More_btn {
    justify-content: center;
  }
  #service .container .inner_service {
    flex-wrap: wrap;
    justify-content: center;
  }
  .inner_service .service_box {
    flex-basis: 100%;
  }
  #blog .container .inner_blog {
    flex-wrap: wrap;
  }
  #blog .container .inner_blog .blog_box {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 570px) {
  .banner_details_area h1 {
    font-size: 22px;
    line-height: 24px;
  }
  .banner_details_area h2 {
    font-size: 18px;
  }
  .inner_counts .counts_box {
    flex-basis: 100%;
  }
  .feature_wrapper {
    flex-wrap: wrap;
  }
  .feature_wrapper .feature_img {
    flex-basis: 100%;
  }
  .feature_wrapper .feature_details .feature_box {
    flex-basis: 100%;
  }

  .inner_feature .feature_content_area .content_area_box {
    flex-basis: 100%;
  }
  .inner_pricing {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
  }
  .inner_pricing .pricing_box {
    flex-basis: 100%;
  }
  #blog .container .inner_blog {
    flex-wrap: wrap;
    justify-content: center;
  }
  #blog .container .inner_blog .blog_box {
    flex-basis: 100%;
  }
  #contact .container .inner_contact {
    flex-wrap: wrap;
  }
  #contact .container .inner_contact .contact_details .contact_box {
    flex-basis: 100%;
  }
  #contact .container .inner_contact .contact_form {
    flex-basis: 100%;
  }
  #footer1 .container .inner_footer1 {
    flex-wrap: wrap;
  }
  #footer1 .container .inner_footer1 .footer1_box_content {
    flex-basis: 100%;
  }
  #footer1 .container .inner_footer1 .footer1_box {
    flex-basis: 100%;
  }
}
