/*Common Styles*/
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@500&display=swap");
/* font-family: 'Dancing Script', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

/* variable */
:root {
  --primaryColor: #012970;
  --secondaryColor: #444444;
  --buttonColor: #4154f1;
}
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding: 60px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header Style */
header {
  width: 100%;
  box-shadow: rgba(1, 41, 112, 0.1) 0px 2px 20px;
  position: sticky;
  top: 0;
  background: white;
}
.inner_header {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primaryColor);
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
}
nav {
  display: flex;
  align-items: center;
}
.menu_toggler {
  display: none;
}
button.menu_toggler {
  background: none;
  border: none;
  outline: none;
}

button.menu_toggler i {
  font-size: 25px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
}
nav ul li a {
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #013289;
  font-weight: 700;
  white-space: nowrap;
  transition: 0.3s;
}
nav ul li a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

nav ul li a:hover {
  color: var(--primaryColor);
}

.get_started_btn {
  background: var(--buttonColor);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  transition: 0.3s;
}
/* banner section Style */
#banner_section {
  background-image: url("https://bootstrapmade.com/demo/templates/FlexStart/assets/img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
  background-size: cover;
}
.inner_banner {
  min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.banner_details_area {
  flex-basis: 50%;
}
.banner_details_area h1 {
  font-size: 48px;
  font-weight: 700;
  color: #012970;
  max-width: 546px;
  width: 100%;
}
.banner_details_area h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
}
.banner_details_area .banner_btn {
  display: inline-block;
  margin-top: 30px;
  background: var(--buttonColor);
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  transition: 0.3s;
}
.banner_details_area .banner_btn:hover {
}
.banner_details_area .get_started_btn i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.banner_details_area .banner_btn:hover i {
  transform: translateX(5px);
  transition: 0.3s;
}
.inner_banner .banner_img_area {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-basis: 50%;
}
.banner_img_area img {
  width: 90%;
}

/* about style */
.inner_about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about_details {
  flex-basis: 50%;
  background-color: #f6f9ff;
  padding: 40px;
}
.about_details h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}
.about_details h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}
.about_details p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.rede_More_btn {
  display: inline-block;
  margin-top: 30px;
  background: var(--buttonColor);
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  transition: 0.3s;
}
.rede_More_btn:hover i {
  transform: translateX(5px);
  transition: 0.3s;
}
.about_img {
  flex-basis: 50%;
}
.about_img img {
  width: 100%;
}

/* value section style */
#value {
}
.inner_value {
}
.section_title {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
  text-align: center;
}
.section_sub_title {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
  text-align: center;
  margin-bottom: 40px;
}

.inner_value .value_box_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.value_box_container .value_box {
  padding: 30px;
  box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  flex-basis: 33%;
  margin: 0 12px;
}
.value_box_container .value_box .value_img {
  width: 100%;
}
.value_box_container .value_box .value_img img {
  width: 90%;
  margin: 0 auto;
  transition: all 0.3s;
}
.value_box_container .value_box:hover img {
  transform: scale(0.8);
}
.value_box_container .value_box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px px;
}
.value_box_container .value_box p {
  text-align: center;
  margin-bottom: 1rem;
}
/* counts section style */
#counts {
}
.inner_counts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.inner_counts .counts_box {
  display: flex;
  align-items: center;
  padding: 30px;
  flex-basis: 25%;
  background: #fff;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}
.inner_counts .counts_box:nth-child(1) .icon {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #4154f1;
}
.inner_counts .counts_box:nth-child(2) .icon {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #ee6c20;
}
.inner_counts .counts_box:nth-child(3) .icon {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #15be56;
}
.inner_counts .counts_box:nth-child(4) .icon {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: #bb0852;
}
.inner_counts .counts_box .icon i {
}
.inner_counts .counts_box .count_details {
}
.inner_counts .counts_box .count_details h1 {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}
.inner_counts .counts_box .count_details p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/* feature section style */

#feature {
}
.feature_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature_wrapper .feature_img {
  flex-basis: 50%;
}
.feature_wrapper .feature_img img {
  width: 90%;
}
.feature_wrapper .feature_details {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  flex-wrap: wrap;
}
.feature_wrapper .feature_details .feature_box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
  transition: 0.3s;
  height: 100%;
  flex-basis: 47%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 25px;
}
.feature_wrapper .feature_details .feature_box .check {
  height: 32px;
  width: 32px;
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature_wrapper .feature_details .feature_box:hover .check {
  background: #4154f1;
  color: #fff;
}
.feature_wrapper .feature_details .feature_box p {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

/* second feature style */

#second_feature {
}
.inner_second_feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner_second_feature .feature_details {
  flex-basis: 50%;
}
.inner_second_feature .feature_details h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}
.inner_second_feature .feature_details ul {
  display: flex;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.inner_second_feature .feature_details ul li {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}
.inner_second_feature .feature_details ul li.active {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
  color: #4154f1;
  border-bottom: 3px solid #4154f1;
}
.inner_second_feature .feature_details .feature_sub_header {
  display: flex;
  align-items: center;
}
.inner_second_feature .feature_details .feature_sub_header .check_box {
}
.inner_second_feature .feature_details .feature_sub_header .check_box i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #4154f1;
}
.inner_second_feature .feature_details .feature_sub_header h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #012970;
}
.inner_second_feature .feature_details p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.inner_second_feature .img_area {
  flex-basis: 50%;
}
.inner_second_feature .img_area img {
  width: 100%;
}

/* third feature style */

#third_feature {
}
.container h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

#third_feature .inner_feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner_feature .feature_content_img_area {
  flex-basis: 30%;
}
.inner_feature .feature_content_img_area img {
  width: 100%;
}
.inner_feature .feature_content_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 70%;
  flex-wrap: wrap;
}
.inner_feature .feature_content_area .content_area_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 45%;
  flex-wrap: wrap;
  margin: 10px;
}
.inner_feature .feature_content_area .content_area_box .box {
  display: flex;
  align-items: center;
  justify-content: start;
}

.feature_content_area .content_area_box .icons {
}

.feature_content_area .content_area_box .icons i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.feature_content .feature_content_area .content_area_box .content_box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}
.inner_third_feature
  .feature_content
  .feature_content_area
  .content_area_box
  .content_box
  p {
  font-size: 15px;
  color: #848484;
}
/* service style */
#service {
}
#service .container h4 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
  text-align: center;
}
#service .container h2 {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
  text-align: center;
}
#service .container .inner_service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  flex-wrap: wrap;
}
.inner_service .service_box {
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  flex-basis: 30%;
}
.inner_service .service_box .icons {
  color: #2db6fa;
  background: #dbf3fe;
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}
.inner_service .service_box .icons i {
}
.inner_service .service_box h3 {
  color: #444444;
  font-weight: 700;
}
.inner_service .service_box p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.inner_service .service_box .read_more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}
.inner_service .service_box .read_more span {
}
.inner_service .service_box .read_more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.inner_service .service_box:nth-child(1) {
  border-bottom: 3px solid #2db6fa;
}
.inner_service .service_box:nth-child(1):hover {
  background: #2db6fa;
  color: white;
}
.inner_service .service_box:nth-child(1):hover p,
.inner_service .service_box:nth-child(1):hover h3,
.inner_service .service_box:nth-child(1):hover a {
  background: #2db6fa;
  color: white;
}

.inner_service .service_box:nth-child(2) {
  border-bottom: 3px solid #f68c09;
}
.inner_service .service_box:nth-child(3) {
  border-bottom: 3px solid #08da4e;
}
.inner_service .service_box:nth-child(4) {
  border-bottom: 3px solid #e9222c;
}
.inner_service .service_box:nth-child(5) {
  border-bottom: 3px solid #b50edf;
}
.inner_service .service_box:nth-child(6) {
  border-bottom: 3px solid #f51f9c;
}

/* pricing style section */

#pricing {
}
#pricing .container {
}
#pricing .container h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
  text-align: center;
}
#pricing .container p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
  text-align: center;
}
.inner_pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  margin-top: 25px;
}
.inner_pricing .pricing_box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  flex-basis: 22%;
  max-width: 500px;
}
.inner_pricing .pricing_box h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.inner_pricing .pricing_box h3:nth-child(1) {
  color: #07d5c0;
}
.inner_pricing .pricing_box h3:nth-child(2) {
  color: #65c600;
}
.inner_pricing .pricing_box h3:nth-child(3) {
  color: #ff901c;
}
.inner_pricing .pricing_box h3:nth-child(4) {
  color: #ff0071;
}

.inner_pricing .pricing_box .price {
}
.inner_pricing .pricing_box .image {
}
.inner_pricing .pricing_box .image img {
  width: 100%;
  margin: 25px;
}
.inner_pricing .pricing_box ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}
.inner_pricing .pricing_box ul li {
  padding-bottom: 10px;
}
.inner_pricing .pricing_box .button_container {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: #4154f1;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #4154f1;
}
.inner_pricing .pricing_box .button_container button {
  border: none;
  background: none;
}
.inner_pricing .pricing_box .button_container:hover {
  background: #4154f1;
}
.inner_pricing .pricing_box .button_container:hover button {
  color: #fff;
}
